.middlePart {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 3rem;
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  padding-right: 0.2rem;
  height: 75vh;
  background: #242424;
  align-items: start;
  margin-left: 2rem;
}

.right-box {
  display: flex;
  background: #ffe4c9;
  margin-left: 1rem;
  height: 75vh;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  padding-left: 0.2rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-right: 2rem;
}

.left-box h3:first-of-type {
  font-size: 4.5rem;
  font-weight: 600;
  width: 41rem;
  font-family: "Supermercado One", sans-serif;
  color: white;
  margin-bottom: 1rem;
}

.left-box h4:first-of-type {
  font-size: 16px;
  font-weight: 400;
  width: 41rem;
  font-family: "Poppins", serif;
  color: #898989;
  margin-bottom: 1rem;
}

.girlImage {
  margin-right: 20rem;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
}

.exploreBtn {
  border-radius: 20px;
  font-size: 13px;
  height: 40px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: bold;
  width: 120px;
  margin-right: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #2e2e2e;
  box-shadow: black 3px 2px 2px 2px;
  border: 1px solid rgb(200, 238, 143);
  transition: 0.3s ease-in-out;
}

.exploreBtn:hover {
  box-shadow: black 5px 4px 4px 4px;
}

.arrowBtn {
  border-radius: 20px;
  font-size: 13px;
  height: 40px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: bold;
  width: 50px;
  margin-right: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #2e2e2e;
  box-shadow: black 3px 2px 2px 2px;
  border: 1px solid rgb(200, 238, 143);
  transition: 0.3s ease-in-out;
}

.arrowBtn:hover {
  box-shadow: black 5px 4px 4px 4px;
}

.randomThought {
  color: white;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
